<%= simple_form_for(@field, :url => [
  current_site, current_page_type, @field]) do |f| %>

  <section class="form">
    <%= f.association :page_type_field_group, 
      :collection =>  field_groups %>
    <%= link_to 'Add A Group', routes([current_page_type, field_groups])[:new], 
      :class => 'button' %>
    <hr>
    <%= f.input :title %>
    <%= f.input :data_type, :collection => page_type_field_options %>
    <%= f.input :options %>
  </section>

  <%= f.submit %>
<% end %>
