<%= simple_form_for(
  current_site,
  :url => builder_site_update_croppers_path(current_site)
) do |f| %>

  <% croppings = (
    current_site.image_croppings + [ImageCropping.new]
  ) %>
  <%= f.simple_fields_for(:image_croppings, croppings) do |crop| %>
    <%= crop.input :title %>
    <div class="half-row">
      <%= crop.input :width, :label => 'Width (px)' %>
      <%= crop.input :height, :label => 'Height (px)' %>
    </div>
    <%= content_tag(:hr) unless crop.object == croppings.last %>
  <% end %>

  <%= f.submit %>

<% end %>
