<%= simple_form_for([:builder, current_site]) do |f| %>

  <% tabs = ['details'] %>
  <% tabs << 'image-croppers' unless current_site.id.nil? %>

  <%= form_tabs tabs %>

  <section class="form tabbed details">
    <div class="half-row">
      <%= f.input :title %>
      <%= f.input :url, :as => :string %>
    </div>
    <%= f.input :git_path, :as => :string, :label => 'Remote Git Path' %>
    <%= f.input(:home_page_id, :collection => site_pages) if site_pages.size > 0 %>
    <%= f.input :description %>
  </section>

  <% unless current_site.id.nil? %>
    <section class="form tabbed image-croppers">
      <% croppings = (
        current_site.image_croppings + [ImageCropping.new]
      ) %>
      <%= f.simple_fields_for(:image_croppings, croppings) do |crop| %>
        <%= crop.input :title %>
        <div class="half-row">
          <%= crop.input :width, :label => 'Minimum Width (px)' %>
          <%= crop.input :height, :label => 'Minimum Height (px)' %>
        </div>
        <%= content_tag(:hr) unless crop.object == croppings.last %>
      <% end %>
    </section>
  <% end %>

  <%= f.submit %>

<% end %>
