<%= simple_form_for([:builder, current_site]) do |f| %>

  <div class="half-row">
    <%= f.input :title %>
    <%= f.input :url, :as => :string, :label => 'Primary domain (no http://)' %>
  </div>
  <%= f.input :secondary_urls, :label => 'Seconday domains (no http://)' %>
  <%= em_p(
    "Note: Place each domain on a new line. Any domain here will redirect to
    your primary domain."
  ) %>
  <% if current_site.id.nil? %>
    <div class="half-row">
      <%= f.input :git_url, :as => :string, :label => 'Remote Git Path' %>
      <%= f.input(
        :new_repo,
        :as => :boolean,
        :label => 'Create and push new repo?'
      ) if current_site.id.nil? %>
    </div>
  <% else %>
    <%= f.input :git_url, :as => :string %>
  <% end %>
  <%= f.input(:home_page_id, :collection => site_pages) if site_pages.size > 0 %>
  <%= f.input :description %>

  <%= f.submit %>

<% end %>
