<%= simple_form_for(@user, :url => [current_site, @user]) do |f| %>

  <section class="form">
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  </section>

  <%= f.submit %>
<% end %>
