<%= simple_form_for([current_site, current_form]) do |f| %>

  <%= form_tabs(['details','thank-you','fields']) %>

  <section class="form tabbed details">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :notification_emails %>
    <p><em>Place each email address on a new line.</em></p>
  </section>

  <section class="form tabbed thank-you">
    <%= f.input :thank_you_body, :label => 'Thank You Text' %>
  </section>

  <section class="form tabbed fields">
    <%= f.simple_fields_for(
      :form_fields, 
      (current_form.form_fields + [FormField.new])
    ) do |field| %>
      <div class="field">
        <div class="half-row">
          <%= field.input :title %>
          <%= field.input :data_type, :collection => form_field_options, 
            :input_html => { :class => 'field-data-type' } %>
        </div>
        <div class="half-row">
          <%= field.input :position %>
          <%= field.input :required %>
        </div>
        <%= field.input :options, :wrapper_html => { 
          :class => 'field-options' } %>
        <hr>
      </div>
    <% end %>
  </section>

  <%= f.submit %>

<% end %>
