<%= simple_form_for(
  [:builder, current_site, current_form, current_form_field]
) do |f| %>
  <div class="half-row">
    <div class="input required">
      <%= f.input :title, :wrapper => false %>
      <%= em_p("The title is the arbitrary label you use to in the builder.") %>
    </div>
    <div class="input optional">
      <%= f.input :slug, :label => 'Name / Method', :wrapper => false %>
      <%= em_p("The name is the name attribute used on the form input. It will
        be automatically applied using a slug approach if you leave this
        blank.") %>
    </div>
  </div>
  <div class="half-row">
    <div class="input optional">
      <%= f.input :label, :wrapper => false %>
      <%= em_p("The label appears on the form, while the title is only used in
      the builder, and the name works behind-the-scenes.") %>
    </div>
    <div class="input optional">
      <%= f.input :show_label, :wrapper => false %>
      <div class="margin-top-small"></div>
      <%= em_p("We can hide the label if you don't need it.") %>
    </div>
  </div>
  <div class="half-row">
    <%= f.input :data_type, :collection => form_field_options,
      :input_html => { :class => 'field-data-type' } %>
    <div class="input optional">
      <%= f.input :options, :wrapper => false %>
      <%= em_p("If you are using a data type that requires options, please put
      each option on a new line.") %>
    </div>
  </div>
  <div class="half-row">
    <div class="input optional">
      <%= f.input :placeholder, :wrapper => false %>
      <br style="content:' ';margin-top:10px;display:block;">
      <%= em_p("A placeholder is usually used to give an example of what
      someone might fill in for the given input.") %>
    </div>
    <div class="input optional">
      <%= f.input :default_value, :wrapper => false %>
      <br style="content:' ';margin-top:10px;display:block;">
      <%= em_p("This automatically places a value in the field when a new
        page is created.") %>
    </div>
  </div>

  <div class="half-row">
    <div class="input boolean optional">
      <%= f.input :required, :wrapper => false %>
      <%= em_p("Should we force the user to fill out this field?") %>
    </div>
    <div class="input boolean optional">
      <%= f.input :hidden, :wrapper => false %>
      <%= em_p("We can hide the field, which will remove it from being displayed
        on your site, but will be editable in the builder.") %>
    </div>
  </div>

  <%= f.submit "Save Form Field" %>
<% end %>
