<%= simple_form_for([:builder, current_site, current_form]) do |f| %>

    <div class="half-row">
      <%= f.input :title %>
      <%= f.input :description, :as => :string %>
    </div>
    <%= f.input :button_label, :label => 'Submit Button Label' %>
    <%= em_p("Custom text for the button that will trigger a form
      submission.") %>
    <%= f.input :notification_emails %>
    <%= em_p("This will send a Sapwood notification when a new form submission
      is created. Place each email address on a new line.") %>

    <hr>

    <h3>Page Response</h3>
    <%= f.input :thank_you_body, :label => 'Thank You Text' %>
    <%= em_p("This is the text that replaces the form when the user submits
      the form successfully.") %>

    <hr>

    <h3>Custom Email Response</h3>
    <%= em_p("If you'd like, you can send an email to the user who fills out
      the form. This will only send if you populate each of the three following
      fields.") %>
    <div class="half-row">
      <%= f.input :email_subject, :label => 'Response email subject',
        :as => :string %>
      <%= f.association :email_to, :collection => current_form.fields,
        :label => 'Form field to use for email address' %>
    </div>
    <%= f.input :email_body, :label => 'Response email body' %>
    <%= em_p("This will render HTML. Make sure to test this to ensure it will
      render properly.") %>

  <%= f.submit %>

<% end %>
