<%= builder_page_title("#{current_form.title} Submissions") do %>
  <%= link_to(
    "Edit #{current_form.title} Form", 
    builder_route([current_form], :edit), 
    :class => 'edit'
  ) %>
  <%= link_to(
    'New Form', 
    builder_route([site_forms], :new), 
    :class => 'new'
  ) %>
<% end %>

<section id="page-content">
  <% if current_form_submissions.size > 0 %>
    <%= data_table(current_form_submissions, 'submission') %>
  <% else %>
    <%= content_tag(
      :section, 
      em_p("What the heck? There are no submission yet!"), 
      :class => 'data-table'
    ) %>
  <% end %>
</section>

<%= sidebar %>
