<div class="logo">
  <%= content_tag(:h1, link_to(SapwoodSetting.site.title, root_path)) %>
</div>

<div class="site-title">
  <%= content_tag(:h2, current_view_title) %>
</div>

<div class="user">
  <%= page_search_field if current_site && current_site.id.present? %>
  <%= icon_to('dashboard', root_path) %>
  <%= icon_to('cogs', '#') %>
  <%= icon_to('exit', destroy_user_session_path) %>
  <%= link_to('#') { avatar(current_user, 84) } %>
</div>
