<div class="logo">
  <%= content_tag(:h1, link_to(SapwoodSetting.site.title, root_path)) %>
</div>

<% if current_site %>
  <div class="site-title">
    <%= content_tag(:h2) {
      link_to(
        current_site.title,
        builder_site_path(current_site)
      )
    } if current_site.id %>
    </h1>
  </div>
<% end %>

<div class="user">
  <%= link_to('#', :class => 'user-menu-trigger dropdown-trigger') do %>
    <%= content_tag(:span, current_user.display_name.upcase,
      :class => 'name') %>
    <%= avatar(current_user, 84) %>
  <% end %>
  <ul class="user-menu">
    <%= content_tag(:li, link_to('My Sites', builder_sites_path)) %>
    <%= content_tag(:li, link_to('Sign Out', destroy_user_session_path)) %>
  </ul>
</div>