<section class="site-control">
  <ul class="bottom-nav">
    <% site_nav.each do |item, attrs| %>
      <li class="<%= attrs['classes'] %>">
        <%= link_to(attrs['path']) do %>
          <%= content_tag(:i, nil, :class => "icon-#{attrs['icon']}") %>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>

<section class="site-menu">
  <ul class="site-nav">
    <% site_menu.each do |attrs, val| %>
      <li class="<%= attrs['classes'] %>">
        <%= link_to attrs['label'].upcase, attrs['path'] %>
      </li>
    <% end %>
  </ul>
</section>
