<article class="resource">
  <%= content_tag(
    :span,
    nil,
    :class => 'status'
  ) %>
  <div class="data">
    <div class="top">
      <%= content_tag(:h4, resource.title, :class => 'title') %>
      <%= content_tag(:span, resource.slug, :class => 'method-name') %>
    </div>
    <div class="bottom">
      <%= content_tag(
        :span,
        "Last edited #{content_tag(
          :span, resource.updated_at.strftime("%h %d")
        )}".html_safe,
        :class => 'last-edited'
      ) %>
    </div>
  </div>
  <div class="actions">
    <div class="top">
      <%= link_to(
        'Edit',
        edit_builder_site_page_resource_type_resource_path(
          current_site, current_page, current_resource_type, resource
        ),
        :class => 'edit'
      ) %>
    </div>
    <div class="bottom">
      <%= link_to(
        'Delete',
        builder_site_page_resource_type_resource_path(
          current_site, current_page, current_resource_type, resource
        ),
        :method => :delete,
        :class => 'delete',
        :data => { :confirm => 'Are you sure?' }
      ) %>
    </div>
  </div>
</article>
