<%= builder_page_title(
  current_page_breadcrumbs,
  :class => 'breadcrumbs no-border'
) do %>
  <%= content_tag(
    :div,
    link_to(
      "New #{current_resource_type.title.singularize}",
      new_builder_site_page_resource_type_resource_path(
        current_site, current_page, current_resource_type
      ),
      :class => 'new'
    ),
    :class => 'new-buttons dropdown'
  ) %>
  <%= render :partial => 'builder/pages/tabs' %>
<% end %>

<section id="page-content" class="data-container">
  <% if current_page_resources.size > 0 %>
    <%= data_table(current_page_resources, 'resource') %>
  <% else %>
    <%= missing_content("No #{current_resource_type.title.downcase.pluralize}
    yet! Perhaps you should create one.") %>
  <% end %>
</section>
