<article class="setting">
  <%= content_tag(:span, '', :class => 'status') %>
  <div class="data">
    <div class="top">
      <%= content_tag(:h4, setting.title, :class => 'title') %>
      <%= content_tag(:span, setting.slug, :class => 'filename') %>
    </div>
    <div class="bottom">
      <%= setting_last_updated(setting) %>
    </div>
  </div>
  <div class="actions">
    <div class="top">
      <%= link_to(
        'Edit',
        edit_builder_site_site_setting_path(current_site, setting),
        :class => 'edit'
      ) %>
    </div>
    <div class="bottom">
      <%= link_to(
        'Delete',
        builder_site_site_setting_path(current_site, setting),
        :method => :delete,
        :class => 'delete',
        :data => { :confirm => 'Are you sure?' }
      ) %>
    </div>
  </div>
</article>
