<%= builder_page_title(
  menus_breadcrumbs,
  :class => 'breadcrumbs no-border'
) do %>
  <%= render :partial => 'tabs' %>
<% end %>

<section id="page-content" class="data-container">
  <ul class="menu-tree">
    <% current_menu_item_roots.each do |root| %>
      <li>
        <%= root.title %>
        <%= content_tag(
          :span,
          link_to(
            root.url,
            root.page_id.blank? ? root.url : viewer_page(root.url),
            :target => :blank
          )
        ) %>
        <% nodes = root.subtree.arrange_serializable(:order => :position) %>
        <% if nodes.first["children"].size > 0 %>
          <ul>
            <%= render(
              :partial => 'builder/menus/list_item',
              :collection => nodes.first["children"]
            ) %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>
