<%= current_template_breadcrumbs %>

<%= builder_page_title("Edit #{current_template.title} Template") do %>
  <%= subtitle("Here you can edit the attributes of the template itself. Or, 
  use the tabs below to navigate to other configuration options for this 
  template.") %>
<% end %>

<section id="page-content">
  <%= render 'form' %>
</section>

<%= sidebar %>
