<%= builder_page_title(
  current_template_breadcrumbs,
  :class => 'breadcrumbs'
) do %>
  <%= content_tag(
    :div,
    link_to(
      'New Template',
      builder_route([site_templates], :new),
      :class => 'new'
    ),
    :class => 'new-buttons dropdown'
  ) %>
<% end %>

<section id="page-content" class="data-container">
  <% if @templates.size > 0 %>
    <%= render :partial => 'filters' %>
    <%= data_table(@templates, 'template') %>
  <% else %>
    <%= missing_content("No templates yet! Perhaps you should create one.") %>
  <% end %>
</section>
