<%= simple_form_for(
  [:builder, current_image], 
  :url => builder_site_image_crop_path(current_site, current_image)
) do |f| %>

  <%= f.simple_fields_for :crop_data do |data| %>
    <% current_site.image_croppings.each do |cropping| %>
      <%= data.simple_fields_for cropping.slug do |crop| %>

        <section class="cropper" data-slug="<%= cropping.slug %>" 
          data-width="<%= cropping.width %>" 
          data-height="<%= cropping.height %>"
          data-ratio="<%= cropping.width.to_f / cropping.height.to_f %>"
          data-img-width="<%= current_image.image.width %>"
          data-img-height="<%= current_image.image.height %>">
          <%= content_tag(:h2, cropping.title) %>
          <%= image_tag current_image.image.url %>
          <% value = current_image.crop(cropping.slug) %>
          <% ['x','y','width','height'].each do |dim| %>
            <%= crop.input(
              dim.to_sym, 
              :as => :hidden, 
              :input_html => { 
                :value => value.nil? ? nil : value.send(dim)
              } 
            ) %>
          <% end %>
        </section>
      <% end %>
    <% end %>
  <% end %>

  <%= f.submit "Save Croppings" %>
<% end %>
