<article class="form-field" data-id="<%= field.id %>">
  <%= content_tag(
    :span,
    quick_template_field_status(field),
    :class => 'status'
  ) %>
  <div class="data">
    <div class="top">
      <%= content_tag(:h4, field.title, :class => 'title') %>
      <%= content_tag(:span, field.slug, :class => 'method-name') %>
    </div>
    <%= simple_form_for(
      [:builder, current_site, current_resource_type, field],
      :html => { :class => 'field-position' }
    ) do |f| %>
      <%= f.input :position, :input_html => { :class => 'position' } %>
    <% end %>
    <div class="bottom">
      <%= content_tag(
        :span,
        "Last edited #{content_tag(
          :span, field.updated_at.strftime("%h %d")
        )}".html_safe,
        :class => 'last-edited'
      ) %>
      <%= link_to(field.data_type, '', :class => 'database disabled') %>
      <%= link_to('half width', '', :class => 'half-width disabled') if
        field.half_width? %>
      <%= link_to('required', '', :class => 'required disabled') if
        field.required? %>
      <%= link_to('hidden', '', :class => 'hidden disabled') if
        field.hidden? %>
    </div>
  </div>
  <div class="actions">
    <div class="top">
      <% if field.hidden? && field.optional? %>
        <%= link_to(
          'Show',
          builder_site_resource_type_resource_field_show_path(
            current_site,
            current_resource_type,
            field
          ),
          :method => :post,
          :class => 'show'
        ) %>
      <% elsif field.optional? %>
        <%= link_to(
          'Hide',
          builder_site_resource_type_resource_field_hide_path(
            current_site,
            current_resource_type,
            field
          ),
          :method => :post,
          :class => 'hide'
        ) %>
      <% end %>
      <%= link_to(
        'Edit',
        builder_route([current_resource_type, field], :edit),
        :class => 'edit'
      ) %>
    </div>
    <div class="bottom">
      <%= link_to(
        'Delete',
        builder_route([current_resource_type, field], :show),
        :method => :delete,
        :class => 'delete',
        :data => { :confirm => 'Are you sure?' }
      ) unless field.protected? %>
    </div>
  </div>
</article>
