<% if current_resource_field.protected? %>
  <p class="warning">Note: This field is <em>protected</em>, which means some
  of its attributes can not be changed. These fields' labels are greyed out.</p>
<% end %>

<%= simple_form_for(
  [:builder, current_site, current_resource_type, current_resource_field]
) do |f| %>

  <%= f.input :title %>
  <%= em_p("The title is the arbitrary label you use to in the builder.") %>

  <div class="half-row">
    <%= f.input :label %>
    <%= f.input :slug, :label => 'Name',
      :disabled => current_resource_field.protected? ? true : false %>
    <%= em_p("The label is the label that appears on the form, while the name
    is the method by which you retrieve this field's value.") %>
    <%= em_p("The name will be automatically applied using a slug approach if
    you leave this blank.") %>
  </div>

  <div class="half-row">
    <%= f.input :data_type, :collection => resource_field_options,
      :disabled => current_resource_field.protected? ? true : false %>
    <%= f.input :options,
      :disabled => current_resource_field.protected? ? true : false %>
    <%= em_p("The data type determines how the field is rendered in the page
    form. If you choose an data type that requires options, fill in the options
    you'd like displayed in the form.") %>
    <%= em_p("Each option should be placed on its own line.") %>
  </div>

  <div class="half-row">
    <div class="input optional">
      <%= f.input :required, :wrapper => false,
        :disabled => (current_resource_field.protected? &&
          current_resource_field.slug == 'title') ? true : false %>
      <br style="content:' ';margin-top:10px;display:block;">
      <%= em_p("Checking this box requires a user to enter data for this field for
      every page using this template.") %>
    </div>

    <div class="input optional">
      <% if current_resource_field.can_be_hidden? %>
        <%= f.input :hidden, :wrapper => false %>
        <br style="content:' ';margin-top:10px;display:block;">
        <%= em_p("Checking this box will hide the field from the page form. This is
        useful for hiding default fields you don't need.") %>
      <% end %>
    </div>
  </div>

  <div class="half-row">
    <div class="input optional">
      <%= f.input :half_width, :wrapper => false %>
      <br style="content:' ';margin-top:10px;display:block;">
      <%= em_p("If you check this, the field will only stretch to half the
      container width.") %>
    </div>
    <div class="input optional">
      <%= f.input :default_value, :wrapper => false %>
      <br style="content:' ';margin-top:10px;display:block;">
      <%= em_p("This automatically places a value in the field when a new
        page is created.") %>
    </div>
  </div>

  <%= f.submit "Save Resource Field" %>
<% end %>
