<%= builder_page_title(
  menus_breadcrumbs,
  :class => 'breadcrumbs no-border'
) do %>
  <%= content_tag(
    :div,
    link_to(
      'New Item',
      builder_route([current_menu, current_menu_items], :new),
      :class => 'new'
    ),
    :class => 'new-buttons dropdown'
  ) %>
  <%= render :partial => 'builder/menus/tabs' %>
<% end %>

<section id="page-content" class="data-container">
  <% if current_menu_items.size > 0 %>
    <%= data_table(current_menu_items, 'item') %>
  <% else %>
    <%= missing_content("No items for this menu. Maybe you should add one!") %>
  <% end %>
</section>
