<%= simple_form_for(
  [:builder, current_site, current_template, current_template_group]
) do |f| %>
  <div class="half-row">
    <%= f.input :title %>
    <%= f.input :position, :as => :string %>
    <%= em_p("This is the label and position for the sidebar menu item that 
      will appear when a user is creating or editing a page using the 
      #{current_template.title} template.") %>
  </div>
  <%= f.submit "Save Form Group" %>
<% end %>