<section class="images-container">
  <%= content_tag(:div, :class => 'upload-control') do %>
    <%= link_to 'New File', builder_route([site_files], :new),
      :class => 'new upload-trigger' %>
    <%= render 'form' %>
    <%= render 'progress' %>
  <% end if params[:select] %>
  <%= paginate(paginated_site_files) %>
  <%= render :partial => 'file', :collection => paginated_site_files %>
  <%= paginate(paginated_site_files) %>
</section>
