<article class="image" data-src="<%= file.document.url %>"
  data-idx="<%= file.idx %>">
  <%= content_tag(
        :span,
        file.document_name
      ) if site_setting('show_media_lib_captions')%>
  <%= image_tag file.thumbnail %>
  <header class="<%= 'select' if params[:select] %>">
    <% if file.is_image? && params[:select].blank? %>
      <form class="version-urls">
        <% (['full'] + file.croppings).each do |c| %>
          <div class="input">
            <%= content_tag(:label, c) %>
            <input type="text" value="<%= file.crop_url(c) %>" readonly="true">
          </div>
        <% end %>
      </form>
      <%= link_to('', '#', :class => 'crop-urls link') %>
    <% else %>
      <form class="version-urls">
          <div class="input">
            <input type="text" value="<%= file.document.url %>" readonly="true">
          </div>
      </form>
      <%= link_to('', '#', :class => 'crop-urls link') %>
    <% end %>
    <%= link_to(
      '',
      builder_site_document_cropper_path(current_site, file),
      :class => 'crop image-crop-trigger'
    ) if !params[:select] && !params[:link] && file.is_image? %>
    <%= link_to(
      '',
      builder_route([file], :show),
      :class => 'delete',
      :method => :delete,
      :data => { :confirm => 'Are you sure?' }
    ) unless params[:select] || params[:link]  %>
    <%= link_to(
      'Add This File',
      '#',
      :class => 'select',
    ) if params[:select] %>
  </header>
</article>
