<%= current_nav do %>
  <%= current_nav_section('Actions') do %>
    <%= content_tag(
      :li,
      link_to(
        'Remove User',
        builder_route([@user], :show),
        :method => :delete,
        :class => 'delete',
        :data => { :confirm => 'This will remove this user from this project. Are you sure?' }
      )
    ) %>
  <% end %>
<% end if obj_exists?(@user) && @user != current_user && @user.site_user? %>

<%= drilldown_nav do %>
  <% if obj_exists?(@user) %>
    <%= drilldown_nav_back(
      'Site Users',
      builder_route([all_site_users], :index)
    ) %>
  <% else %>
    <%= drilldown_nav_new('New User', builder_route([all_site_users], :new)) %>
    <% all_site_users.each do |user| %>
      <li class="user">
        <%= link_to(builder_route([user], :show)) do %>
          <%= avatar(user, 64, user.admin? ? 'admin ' : '') %>
          <span class="name"><%= user.display_name %></span>
        <% end %>
      </li>
    <% end %>
    <%= drilldown_nav_back('Site Dashboard', builder_site_path(current_site)) %>
  <% end %>
<% end %>
