<%= builder_page_title('Users') do %>
  <%= content_tag(
    :div,
    link_to(
      'New User',
      builder_route([all_site_users], :new),
      :class => 'new'
    ),
    :class => 'new-buttons dropdown'
  ) %>
  <%= subtitle("This is a list of all users who have access to the builder for
  this site.") %>
<% end %>

<section id="page-content" class="data-container">
  <%= render :partial => 'filters' %>
  <% if @users.size > 0 %>
    <%= data_table(@users, 'user') %>
  <% else %>
    <%= missing_content("No users match your criteria.") %>
  <% end %>
</section>
