<%= simple_form_for [:builder, current_site, current_resource_type] do |f| %>

  <div class="half-row">
    <div class="input">
      <%= f.input :title, :wrapper => false %>
      <br>
      <%= em_p("The title is just an arbitrary classification for resources
        of this type.") %>
    </div>
    <div class="input">
      <%= f.input :slug, :label => 'Method Name', :wrapper => false %>
      <br>
      <%= em_p("The method name by which you access the resources of this
        type. This will be automatically applied if left blank.") %>
    </div>
  </div>

  <div class="half-row">
    <%= f.input :order_method, :as => :select,
      :collection => resource_order_by_fields %>
    <%= f.input :order_direction, :as => :select,
      :collection => ['asc','desc'] %>
    <%= em_p("This determines the default order in which resources of this
    type are ordered. It makes querying a little easier if this is
    predictable for these resources.") %>
  </div>

  <div class="half-row">
    <div class="input optional">
      <%= f.input :has_show_view, :wrapper => false %>
      <%= em_p("Resources don't always have their own show view, but if you
      want, you can add one. See this resource type's help page for more
      info.") %>
    </div>
    <div class="input optional"></div>
  </div>

  <%= redirect_field(f) %>
  <%= f.submit "Save Resource Type" %>
<% end %>
