<header class="page-header">
  <h1>Drafts</h1>
</header>

<section class="page-content">
  <table class="pages">
    <thead>
      <tr>
        <th class="status-icon"></th>
        <th>Title</th>
        <th>Last Modified</th>
      </tr>
    </thead>
    <tbody>
      <% draft_pages.each do |page| %>
        <tr>
          <td class="status-icon"><%= page.p.status_icon %></td>
          <td>
            <%= content_tag(:span, page.title, :class => 'title') %>
            <div class="icons">
              <%= icon_to 'right', site_page_path(current_site, page),
                          :class => 'right' %>
              <%= icon_to 'edit',
                          edit_site_page_path(current_site, page),
                          :class => 'edit' %>
              <% if page.published? %>
                <%= icon_to 'draft',
                            site_page_unpublish_path(
                              current_site, page, :redirect => request.path
                            ),
                            :method => :post, :class => 'unpublish' %>
              <% else %>
                <%= icon_to 'publish',
                            site_page_publish_path(
                              current_site, page, :redirect => request.path
                            ),
                            :method => :post, :class => 'publish' %>
              <% end %>
              <%= icon_to 'delete', site_page_path(current_site, page),
                          :method => :delete, :class => 'delete',
                          :data => { :confirm => 'Are you sure?' } %>
            </div>
          </td>
          <td><%= page.updated_at.pretty %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
