<!DOCTYPE html>
<html class="public">
  <head>
    <title>Page Not Found (404)</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, user-scalable=no,
      minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <%= stylesheet_link_tag "errors/application", :media => 'all' %>
    <%= stylesheet_link_tag "viewer/#{current_site.slug}/application", :media => 'all' %>
    <%= javascript_include_tag "modernizr" %>

    <%= csrf_meta_tags %>
  </head>
  <body class="error">

    <header>
      <h1>Oh no!</h1>
      <p>We couldn't find the page you were looking for.</p>
      <% unless @results.size > 0 %>
        <p>Maybe you should go to the home page and try again.</p>
      <% end %>
    </header>

    <div class="search-results">
      <% if @results.size > 0 %>
        <h2>Search Results</h2>
        <p>Maybe you should try one of these. We searched "<%= @q %>" and
          found the following pages:</p>
        <% @results.each do |page| %>
          <div class="result">
            <%= content_tag(
              :h3,
              link_to(page.title, viewer_page(page.page_path))
            ) %>
          </div>
        <% end %>
      <% else %>
        <%= link_to "Go to Home Page", viewer_home, :class => 'button home' %>
      <% end %>
    </div>

  </body>
</html>
