<!DOCTYPE html>
<html class="public">
  <head>
    <title>What the heck!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, user-scalable=no,
      minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <%= stylesheet_link_tag "errors/application", :media => 'all' %>
    <%= stylesheet_link_tag "viewer/#{current_site.slug}/application", :media => 'all' %>
    <%= javascript_include_tag "modernizr" %>

    <%= csrf_meta_tags %>
  </head>
  <body class="error">

    <header>
      <h1>What the heck!</h1>
      <p>Some funny business is going on.</p>
      <p>It's probably not your fault and we already know about this.<br>Go back
      to the home page and try again.</p>
    </header>

    <div class="search-results">
      <%= link_to "Go to Home Page", viewer_home, :class => 'button home' %>
    </div>

  </body>
</html>
