<%= builder_page_title(
  current_template_breadcrumbs, 
  :class => 'breadcrumbs no-border'
) do %>
  <%= render :partial => 'builder/templates/tabs' %>
<% end %>

<section id="page-content" class="full-width data-container">
  <%= render :partial => 'filters' %>
  <% if @pages.size > 0 %>
    <%= data_table(@paginated_pages, 'builder/pages/page') %>
    <%= paginate(@paginated_pages) %>
  <% elsif current_template_pages.size > 0 %>
    <%= missing_content("No pages match your criteria.") %>
  <% else %>
    <%= missing_content("No pages here yet. You have to #{link_to(
      'go to the pages section', 
      builder_route([current_template_pages], :index))} to create pages.") %>
  <% end %>
</section>
