<%= simple_form_for(
  [:builder, current_file], 
  :url => builder_site_document_crop_path(current_site, current_file)
) do |f| %>

  <%= f.simple_fields_for :crop_data do |data| %>
    <% current_site.image_croppings.each do |cropping| %>
      <%= data.simple_fields_for cropping.slug do |crop| %>

        <section class="cropper" data-slug="<%= cropping.slug %>" 
          data-width="<%= cropping.width %>" 
          data-height="<%= cropping.height %>"
          data-ratio="<%= cropping.width.to_f / cropping.height.to_f %>"
          data-img-width="<%= current_file.document.width %>"
          data-img-height="<%= current_file.document.height %>">
          <%= content_tag(:h2, cropping.title) %>
          <%= image_tag current_file.document.url %>
          <% value = current_file.crop(cropping.slug) %>
          <% ['x','y','crop_width','crop_height'].each do |dim| %>
            <%= crop.input(
              dim.to_sym, 
              :as => :hidden, 
              :wrapper => false,
              :input_html => { 
                :value => value.nil? ? nil : value.send(dim),
                :data => { :value => value.nil? ? 0 : value.send(dim), }
              } 
            ) %>
          <% end %>
          <% ['width','height'].each do |dim| %>
            <%= crop.input(
              dim.to_sym, 
              :as => :hidden,
              :wrapper => false,
              :input_html => { :value => cropping.send(dim) } 
            ) %>
          <% end %>
        </section>
      <% end %>
    <% end %>
  <% end %>

  <%= f.submit "Save Croppings" %>
<% end %>
