<%= simple_form_for [:builder, current_site, current_page] do |f| %>

  <%= form_tabs ['details', 'content'] + current_page_type.groups.collect(&:slug) %>

  <section class="form tabbed details">
    <div class="half-row">
      <%= f.input :title %>
      <%= f.input :position %>
    </div>
    <div class="half-row">
      <%= f.input :slug %>
      <%= f.input :template, :collection => current_page_type.templates, 
        :selected => current_page_type.templates.first %>
    </div>
    <%= f.input :description %>
    <%= f.input :published, :as => :hidden %>
    <%= f.input :page_type_id, :as => :hidden, :wrapper => false, 
      :input_html => { :value => current_page_type.id } %>
    <%= f.input :parent_id, :as => :hidden, :input_html => { 
      :value => current_page_parent.id } unless current_page_parent.nil? %>
  </section>

  <section class="form tabbed content">
    <%= f.input :body, :label => false %>
  </section>

  <%= f.simple_fields_for :field_data, OpenStruct.new(f.object.field_data) do |fd| %>
    <% current_page_type.groups.each do |group| %>
      <section class="form tabbed <%= group.slug %>">
        <% group.fields.each do |field| %>
          <% case field.data_type %>
          <% when 'date' %>
            <%= fd.input(
              :"#{field.slug}", 
              :as => :string, 
              :required => field.required, 
              :label => field.title,
              :input_html => { 
                :class => 'date-js', 
                :value => current_page.field_data[field.slug.to_sym] 
              } 
            ) %>
          <% when 'image' %>
            <div class="upload-field">
              <%= fd.input(
                :"rtimage_#{field.slug}", 
                :as => :hidden, 
                :required => field.required, 
                :label => field.title,
                :input_html => { 
                  :value => current_page.field_data[field.slug]
                } 
              ) %>
              <%= image_tag(
                find_page_image(current_page.field_data[field.slug])
              ) unless current_page.field_data[field.slug].blank? %>
              <%= link_to(
                "Add New #{field.title}", 
                builder_site_images_path(current_site, :select => true), 
                :class => 'image-upload-trigger button' 
              ) %>
            </div>
          <% else %>
            <%= fd.input(
              :"#{field.slug}", 
              :as => :"#{field.data_type}", 
              :required => field.required, 
              :label => field.title,
              :input_html => { 
                :value => current_page.field_data[field.slug.to_sym] 
              } 
            ) %>
          <% end %>
        <% end %>      
      </section>
    <% end %>
  <% end %>

  <%= link_to "Save and Publish", '#', :class => 'save publish' %>
  <%= link_to "Save as Draft", '#', :class => 'save draft' %>
  <%#= link_to "Cancel",  builder_route([current_page_type])[:show], 
    :class => 'cancel', :data => { :confirm => 'Are you sure?' } %>

<% end %>
