<div class="form-tabs">
  <ul>
    <% current_template_groups.each do |group| %>
      <%= content_tag(
        :li,
        link_to(
          group.title,
          builder_site_page_settings_path(
            current_site,
            current_page,
            group.slug
          ),
          :class => (current_page.slug == params[:page_slug] &&
            group.slug == params[:slug]) ? 'active' : nil
        )
      ) %>
    <% end %>
  </ul>
</div>

<%= simple_form_for [:builder, current_site, current_page] do |f| %>

  <%= f.simple_fields_for :field_data, OpenStruct.new(f.object.field_data) do |fd| %>
    <% fields = current_template_group.fields %>
    <% fields.each_with_index do |field, idx| %>

      <% if field.half_width? %>
        <% if field == fields.first || !fields[idx - 1].half_width? ||
          @half_width == false %>
          <% @half_width = true %>
          <div class="half-row">
        <% end %>
      <% end %>

      <% if ['title','slug','description','show_in_nav'].include?(field.slug) %>
        <%= f.input(
          field.slug.to_sym,
          :label => field.label,
          :input_html => {
            :value => current_page.send(field.slug) || field.default_value
          }
        ) unless field.hidden? %>
      <% elsif field.slug == 'position' %>
        <%= f.input(
          field.slug.to_sym,
          :label => field.label,
          :as => :string,
          :input_html => {
            :value => current_page.send(field.slug) || field.default_value
          }
        ) unless field.hidden? %>
      <% elsif field.slug == 'body' && !field.hidden? %>
        <%= f.input(
          :body_md,
          :label => field.label,
          :input_html => {
            :value => current_page.body_md || field.default_value
          },
          :wrapper_html => {
            :class => 'markdown-editor'
          }
        ) %>
      <% elsif field.hidden? %>
        <%= fd.input(
          :"#{field.slug}",
          :as => :hidden,
          :required => field.required,
          :wrapper => false,
          :input_html => {
            :value => current_page.field_data[field.slug.to_sym] ||
              field.default_value
          }
        ) %>
      <% else %>
        <% case field.data_type %>
        <% when 'markdown' %>
          <%= fd.input(
            :"markdown_#{field.slug}",
            :as => :text,
            :label => field.label,
            :required => false,
            :input_html => {
              :value => current_page.send("markdown_#{field.slug}") || field.default_value
            },
            :wrapper_html => {
              :class => 'markdown-editor'
            }
          ) %>
        <% when 'date' %>
          <%= fd.input(
            :"#{field.slug}",
            :as => :string,
            :required => field.required,
            :label => field.label,
            :input_html => {
              :class => 'date-js',
              :value => current_page.field_data[field.slug.to_sym]
            }
          ) %>
        <% when 'select' %>
          <%= fd.input(
            :"#{field.slug}",
            :as => :"#{field.data_type}",
            :collection => field.option_values,
            :required => field.required,
            :label => field.label,
            :selected => current_page.field_data[field.slug],
          ) %>
        <% when 'check_boxes', 'radio_buttons' %>
          <%= fd.input(
            :"#{field.slug}",
            :as => :"#{field.data_type}",
            :collection => field.option_values,
            :required => field.required,
            :label => field.label,
            :checked => current_page.field_data[field.slug] ||
              field.default_value
          ) %>
        <% when 'image', 'file' %>
          <div class="upload-field">
            <%= fd.input(
              :"rtfile_#{field.slug}",
              :as => :hidden,
              :required => field.required,
              :label => field.label,
              :input_html => {
                :value => current_page.field_data[field.slug]
              }
            ) %>
            <%= image_tag(
              find_page_thumb(current_page.field_data[field.slug])
            ) unless current_page.field_data[field.slug].blank? %>
            <%= link_to(
              "Add New #{field.title}",
              builder_site_documents_path(current_site, :select => true),
              :class => 'image-upload-trigger button'
            ) %>
            <%= link_to(
              "Remove #{field.title}",
              '#',
              :class => 'remove-file button'
            ) unless current_page.field_data[field.slug].blank? %>
          </div>
        <% else %>
          <%= fd.input(
            :"#{field.slug}",
            :as => :"#{field.data_type}",
            :required => field.required,
            :label => field.label,
            :input_html => {
              :value => current_page.field_data[field.slug.to_sym] ||
                field.default_value
            }
          ) %>
        <% end %>
      <% end %>


      <% if field.half_width? %>
        <% if field == fields.last || !fields[idx + 1].half_width? %>
          </div>
        <% elsif @half_width == true %>
          <% if @first_half_done.nil? || @first_half_done == false %>
            <% @first_half_done = true %>
          <% else %>
            <% @first_half_done = false %>
            <% @half_width = false %>
            </div>
          <% end %>
        <% end %>
      <% end %>

    <% end %>
  <% end %>

  <%= redirect_field(f) %>

  <%= f.input :template_id, :as => :hidden, :wrapper => false,
    :input_html => { :value => current_template.id } %>
  <%= f.input :parent_id, :as => :hidden, :wrapper => false, :input_html => {
    :value => current_page_parent.id } unless current_page_parent.nil? %>

  <%= f.submit "Save Page" %>

<% end %>
