<%= current_nav do %>
  <%= current_nav_section('Content') do %>
    <% current_template_groups.each do |group| %>
      <%= content_tag(
        :li,
        link_to(
          group.title,
          builder_site_page_settings_path(
            current_site,
            current_page,
            group.slug
          ),
          :class => (current_page.slug == params[:page_slug] &&
            group.slug == params[:slug]) ? 'active' : nil
        )
      ) %>
    <% end %>
  <% end %>
  <% if current_template.can_have_documents? ||
        template_resource_types.size > 0 %>
    <%= current_nav_section('Resources') do %>
      <%= content_tag(
        :li,
        link_to(
          "Media",
          builder_route([current_page, Document.new], :index),
          :class => "media #{controller_name == 'documents' ? 'active' : nil}"
        )
      ) if current_template.can_have_documents? %>
      <% template_resource_types.each do |rt| %>
        <%= content_tag(
          :li,
          link_to(
            rt.title.titleize.pluralize,
            builder_site_page_resource_type_resources_path(
              current_site, current_page, rt
            ),
            :class => "pages #{controller_name == 'resources' &&
              current_resource_type.slug == rt.slug ? 'active' : nil}"
          )
        ) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= drilldown_nav :nav_html => { :class => 'left-icons' } do %>
  <%= new_page_children_links %>
  <% @nav_pages.each do |page| %>
    <li>
      <%= link_to(page.title, builder_route([page], :edit)) %>
    </li>
  <% end %>
  <%= pages_drilldown_back_link %>
<% end unless params[:search] %>
