<% if template_children.size > 0 %>
  <ul>
    <%= content_tag(:h3, "Sub-Pages") %>
    <% template_children.each do |template| %>
      <%= content_tag(
        :li, 
        link_to(
          template.title.pluralize, 
          builder_site_page_children_path(current_site, current_page, template)
        ),
        :class => (current_page.slug == params[:page_slug] && 
          template.slug == params[:slug]) ? 'active' : nil
      ) %>
    <% end %>
  </ul>
<% end %>

<ul>
  <%= content_tag(:h3, "Settings") %>
  <% current_template_groups.each do |group| %>
    <%= content_tag(
      :li,
      link_to(
        group.title, 
        builder_site_page_settings_path(
          current_site, 
          current_page, 
          group.slug
        )
      ),
      :class => (current_page.slug == params[:page_slug] && 
        group.slug == params[:slug]) ? 'active' : nil
    ) %>
  <% end %>  
</ul>

<% if current_page.id %>
  <ul>
    <h3>Actions</h3>
    <%= content_tag(
      :li,
      link_to(
        "Delete this Page", 
        builder_route([current_page], :show), 
        :method => :delete, 
        # :class => 'delete',
        :data => { :confirm => 'Are you sure?' }
      ) 
    ) %>
  </ul>
<% end %>
