<%= builder_page_title(current_page_breadcrumbs, :class => 'breadcrumbs') do %>
  <%= new_root_page_links %>
<% end %>

<section id="page-content" class="data-container"
        data-sortable="<%= sortable_pages? %>">
  <% if @pages.size > 0 %>
    <%= render :partial => 'filters', :locals => { :pages => site_root_pages } %>
    <%= data_table(@pages, 'page') %>
    <%= paginate(@pages) %>
  <% elsif site_root_pages.size > 0 %>
    <%= render :partial => 'filters', :locals => { :pages => site_root_pages } %>
    <%= missing_content("No pages match your criteria.") %>
  <% elsif site_templates.size == 0 && current_user.admin? %>
    <%= missing_content("You need to create a template before you can create a
    page.") %>
  <% else %>
    <%= missing_content("No pages here yet. Why don't you create one?") %>
  <% end %>
</section>
