<%= builder_page_title(
  current_page_breadcrumbs,
  :class => 'breadcrumbs no-border'
) do %>
  <%= new_page_children_links %>
  <%= page_search_field %>
  <%= render :partial => 'tabs' %>
<% end %>

<section id="page-content" class="full-width pages data-container">
  <%= render :partial => 'filters', :locals => {
    :pages => current_page_children } %>
  <% if current_page_children_filtered_paginated.size > 0 %>
    <%= data_table(current_page_children_filtered_paginated, 'page') %>
    <%= paginate(current_page_children_filtered_paginated) %>
  <% elsif current_page_children.size > 0 %>
    <%= missing_content("No pages match your criteria.") %>
  <% else %>
    <%= missing_content("No pages here yet. Why don't you create one?") %>
  <% end %>
</section>
