<%= current_page_breadcrumbs %>

<%= builder_page_title(current_page.title) do %>
  <%= link_to "Edit #{current_page.title}", builder_route([current_page], :edit), 
    :class => 'edit' %>
  <%= new_page_children_links %>
<% end %>

<%= sidebar %>

<section id="page-content">
  <%= data_table(current_page_children_paginated, 'page') %>
  <%= paginate_links(
    current_page_children_paginated, 'builder/pages', 'show'
  ) %>
</section>
