<article class="form-field" data-id="<%= field.id %>">
  <%= content_tag(
    :span, 
    quick_template_field_status(field), 
    :class => 'status'
  ) %>
  <div class="data">
    <div class="top">
      <%= content_tag(:h4, field.title, :class => 'title') %>
      <%= content_tag(:span, field.slug, :class => 'method-name') %>
    </div>
    <%= simple_form_for(
      [:builder, current_site, current_template, field],
      :html => { :class => 'field-position' }
    ) do |f| %>
      <%= f.input :position, :input_html => { :class => 'position' } %>
    <% end %>
    <div class="bottom">
      <span class="last-edited">
        Last edited <%= content_tag(
          :span, 
          field.updated_at.strftime("%h %d")
        ) %>
      </span>
      <%= link_to('required', '#', :class => 'required disabled') if 
        field.required? %>
      <%= link_to('hidden', '#', :class => 'hidden disabled') if 
        field.hidden? %>
    </div>
  </div>
  <div class="actions">
    <div class="top">
      <% if field.hidden? %>
        <%= link_to(
          'Show',
          builder_site_template_template_field_show_path(
            current_site, 
            current_template,
            field
          ),
          :method => :post,
          :class => 'show'
        ) %>
      <% else %>
        <%= link_to(
          'Hide',
          builder_site_template_template_field_hide_path(
            current_site, 
            current_template,
            field
          ),
          :method => :post,
          :class => 'hide'
        ) %>
      <% end %>
      <%= link_to(
        'Edit',
        builder_route([current_template, field], :edit),
        :class => 'edit'
      ) %>
    </div>
    <div class="bottom">
      <%= link_to(
        'Delete',
        builder_route([current_template, field], :show),
        :method => :delete,
        :class => 'delete',
        :data => { :confirm => 'Are you sure you want to delete this field?' }
      ) unless field.protected? %>
    </div>
  </div>
</article>
