<%= current_template_breadcrumbs %>

<%= builder_page_title("Custom Fields", :class => 'no-border') do %>
  <%= link_to(
    'New Group',
    builder_route([current_template, current_template_groups], :new),
    :class => 'new'
  ) %>
  <%= link_to(
    'New Field',
    builder_route([current_template, current_template_fields], :new),
    :class => 'new'
  ) %>
  <%= subtitle("The fields here appear on the form when you create or edit a 
  page that uses the #{current_template.title} template.") %>
  <%= render :partial => 'builder/templates/tabs' %>
<% end %>

<section id="page-content" class="full-width">
  <%= render :collection => current_template_groups, :partial => 'group' %>
</section>
