<%= current_template_breadcrumbs %>

<%= builder_page_title("Custom Fields") do %>
  <%= link_to(
    'New Group',
    builder_route([current_template, current_template_groups], :new),
    :class => 'new'
  ) %>
  <%= link_to(
    'New Field',
    builder_route([current_template, current_template_fields], :new),
    :class => 'new'
  ) %>
  <%= subtitle("The fields here appear on the form when you create or edit a 
  page that uses the #{current_template.title} template.") %>
<% end %>

<section id="page-content">
  <%= data_table(current_template_groups, 'group') %>
</section>

<%= sidebar('builder/templates/sidebar') %>
