<%= builder_page_title(
  current_form_breadcrumbs,
  :class => 'breadcrumbs no-border'
) do %>
  <%= render :partial => 'builder/forms/tabs' %>
<% end %>

<section class="form-submission full-width" id="page-content">
<%= simple_form_for(
  current_form_submission,
  :url => builder_route([current_form, current_form_submission], :show)
) do |f| %>

  <% f.simple_fields_for :field_data do |field_data| %>
    <% current_form.fields.each do |field| %>
      <%= builder_form_field_view(field, field_data, current_form_submission) %>
    <% end %>

    <%= f.submit(current_form.button_label) %>
  <% end %>
<% end %>

</section>
