<%= builder_page_title(
  current_form_breadcrumbs,
  :class => 'breadcrumbs no-border'
) do %>
  <%= render :partial => 'builder/forms/tabs' %>
<% end %>

<section id="page-content" class="data-container">
  <% if current_form_submissions.size > 0 %>
    <%= paginate(current_form_submissions) %>
    <%= data_table(current_form_submissions, 'submission') %>
    <%= paginate(current_form_submissions) %>
  <% else %>
    <%= missing_content("What the heck? There are no submission yet!") %>
  <% end %>
</section>
