<%= builder_page_title(
  current_form_breadcrumbs,
  :class => 'breadcrumbs no-border'
) do %>
  <%= render :partial => 'builder/forms/tabs' %>
<% end %>

<section class="form-submission" id="page-content">
  <dl>
    <% current_form_submission.form_fields.each do |field| %>
      <%= content_tag(:dt, field.title) %>
      <% if current_form_submission.send(field.slug).blank? %>
        <%= content_tag(:dd, "(null)") %>
      <% else %>
        <% val = current_form_submission.send(field.slug) %>
        <% if val.class == FormFile %>
          <%= content_tag(:dd) do %>
            <%= link_to(val.file.name, val.file.url, :class => 'download') %>
          <% end %>
        <% else %>
          <%= content_tag(:dd, val) %>
        <% end %>
      <% end %>
    <% end %>
  </dl>
</section>
