<%= builder_page_title(
  current_page_breadcrumbs,
  :class => 'breadcrumbs no-border'
) do %>
  <%= new_page_children_links %>
  <%= render :partial => 'tabs' %>
<% end %>

<section id="page-content" class="full-width pages data-container">
  <%= render 'builder/documents/progress' %>
  <%= link_to(
    'New Document',
    builder_site_documents_path(current_site, :select => true),
    :class => 'new float-right button image-upload-trigger' 
  ) %>
  <section class="images-container">
    <%= render :partial => 'file', :collection => current_page_documents %>
  </section>
</section>
