<%= simple_form_for(@page_type, :url => [current_site, @page_type]) do |f| %>

  <%= form_tabs ['details'] + @groups.collect(&:slug) + ['new-group'] %>

  <section class="form tabbed details">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :delete_group, :as => :hidden %>
    <div class="half-row">
      <%= f.input :icon %>
      <%= f.input :template %>
    </div>
  </section>

  <%= f.simple_fields_for :page_type_field_groups, 
    (@groups + [PageTypeFieldGroup.new]) do |fields| %>
    <section class="tabbed <%= fields.object.title.nil? ? 'new-group' : 
      fields.object.slug %>">
      <h3>Group Details</h3>
      <%= link_to 'Delete Group', '#', :class => 'delete', :data => { 
        :group => fields.object.slug } unless fields.object.title.nil? %>
      <div class="half-row">
        <%= fields.input :title %>
        <%= fields.input :position %>
      </div>
    </section>
  <% end %>

  <section class="tabbed fields">
    <%#= f.simple_fields_for :fields, @page_type.fields do |fields| %>
      <%#= fields.input :title %>
      <%#= fields.input :data_type, :collection => page_type_field_options %>
      <%#= fields.input :options %>
    <%# end %>
  </section>

  <%= f.submit %>
<% end %>
