<%= simple_form_for(
  current_page_type, 
  :url => [current_site, current_page_type]
) do |f| %>

  <%= form_tabs ['details'] + current_page_type.groups.collect(&:slug) + ['new-group'] %>

  <section class="form tabbed details">
    <div class="half-row">
      <%= f.input :title %>
      <%= f.input :label %>
    </div>
    <%= f.input :description %>
    <%= f.input :page_templates %>
    <p><em>Place each template on a new line.</em></p>
    <%= f.input(
      :children, 
      :label => 'Allowable Children', 
      :collection => all_page_types.reject(&:blank?), 
      :as => :check_boxes, :value_method => :slug,
    ) if all_page_types.size > 0 %>
    <%= f.input :delete_group, :as => :hidden, :wrapper => false %>
  </section>

  <%= f.simple_fields_for :groups, 
    (current_page_type.groups + [PageTypeFieldGroup.new]) do |group| %>
    <section class="tabbed <%= group.object.title.nil? ? 'new-group' : 
      group.object.slug %>">
      <h3>Details</h3>
      <hr>
      <%= link_to 'Delete Group', '#', :class => 'delete', :data => { 
        :group => group.object.slug } unless group.object.title.nil? %>
      <div class="half-row">
        <%= group.input :title %>
        <%= group.input :position %>
      </div>
      <% unless group.object.title.nil? %>
        <h3>Fields</h3>
        <%= group.simple_fields_for :fields, 
          (group.object.fields + [PageTypeField.new]) do |field| %>
          <hr>
          <div class="field">
            <div class="half-row">
              <%= field.input :title %>
              <%= field.input :data_type, :collection => page_type_field_options, 
                :input_html => { :class => 'field-data-type' } %>
            </div>
            <%= field.input :options, :wrapper_html => { 
              :class => 'field-options' } %>
            <div class="half-row">
              <%= field.input :position %>
              <%= field.input :required %>
            </div>
          </div>
        <% end %>
      <% end %>
    </section>
  <% end %>

  <%= f.submit %>
<% end %>
