<article class="page-type">
  <%= content_tag(:h4, page_type.title, :class => 'title') %>
  <%= simple_format(page_type.description) unless page_type.description.blank? %>
  <div class="links">
    <%= link_to(
      'New Page', 
      new_site_page_path(current_site, :page_type => page_type.slug),
      :class => 'new'
    ) %>
    <%= link_to('Edit',  site_route([page_type], :edit), :class => 'edit') %>
    <%= link_to('Delete',  site_route([page_type], :show), 
      :method => :delete, :class => 'delete', :data => { 
        :confirm => 'Are you sure?' } ) %>
  </div>
</article>
