<% if current_site %>
  <div class="site-title">
    <h1>
      <%= link_to("#{current_site.title} (#{current_site.url})", 
        site_path(current_site)) %>
    </h1>
  </div>
<% end %>

<div class="user">
  <%= link_to('#', :class => 'user-menu-trigger') do %>
    <%= content_tag(:span, current_user.display_name.upcase, 
      :class => 'name') %>
    <%= avatar(current_user, 84) %>
  <% end %>
  <ul class="user-menu">
    <%= content_tag(:li, link_to('My Sites', sites_path)) %>
    <%= content_tag(:li, link_to('New Site', new_site_path)) %>
    <%= content_tag(:li, link_to('Sign Out', 
      heartwood.destroy_user_session_path, :class => 'user-menu-trigger')) %>
  </ul>
</div>