<%= simple_form_for(@site) do |f| %>

  <%= f.input :title %>
  <%= f.input :url, :as => :string %>
  <%= f.input :description %>
  <%= f.input :page_templates %>
  <p><em>Place each template on a new line.</em></p>

  <%= f.submit %>

<% end %>
