<%= simple_form_for(current_site) do |f| %>

  <div class="half-row">
    <%= f.input :title %>
    <%= f.input :url, :as => :string %>
  </div>
  <%= f.input(:home_page_id, :collection => site_pages) if site_pages.size > 0 %>
  <%= f.input :description %>

  <%= f.submit %>

<% end %>
