<%= render 'logo' %>
<ul class="site-nav">
  <% site_nav.each do |attrs, val| %>
    <li class="<%= attrs['classes'] %>">
      <%= link_to(attrs['path']) { 
        o = content_tag(:i, nil, :class => "icon-#{attrs['icon']}") 
        o += content_tag(:span, attrs['label'].upcase) } %>
    </li>
  <% end %>
</ul>
<ul class="bottom-nav">
  <% bottom_nav.each do |item, attrs| %>
    <li class="<%= attrs['classes'] %>">
      <%= link_to(attrs['path']) { 
        o = content_tag(:i, nil, :class => "icon-#{attrs['icon']}") 
        o += content_tag(:span, attrs['label'].upcase) } %>
    </li>
  <% end %>
</ul>