<!DOCTYPE html>
<html class="public">
  <head>
    <title><%= data[:title] || current_site.title %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, user-scalable=no, 
      minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <%= stylesheet_link_tag 'builder/application', :media => 'all' %>
    <%= javascript_include_tag "modernizr" %>

    <%= csrf_meta_tags %>

    <script type="text/javascript">
      var WYSIWYG_BASE_STYLES = "<%= stylesheet_path('wysiwyg') %>";
      var WYSIWYG_CUSTOM_STYLES = "<%= stylesheet_path('builder/wysihtml5') %>";
    </script>
  </head>

  <body class="<%= @options['body_classes'] %>">

    <%= render :partial => 'status' %>

    <div id="container">
      <%= content_tag(:header, render('header')) %>
      <%= content_tag(
        :section, builder_site_nav, :id => 'builder-site-nav'
      ) if current_site && current_site.id %>
      <div id="content">
        <%= yield %>
      </div>
    </div>

    <%= javascript_include_tag 'builder/application' %>
  </body>
</html>
