<!DOCTYPE html>
<html class="public">
  <head>
    <title><%= builder_html_title %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, user-scalable=no,
      minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">

    <link href='http://fonts.googleapis.com/css?family=Raleway:300'
      rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag 'builder/application', :media => 'all' %>
    <%= javascript_include_tag "modernizr" %>

    <%= csrf_meta_tags %>

    <% if Rails.env.production? && SapwoodSetting.google.analytics_id.present? %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '<%= SapwoodSetting.google.analytics_id %>', 'auto');
        ga('send', 'pageview');
      </script>
    <% end %>
  </head>

  <body class="<%= @options['body_classes'] %>"
    <%= "data-library=#{builder_site_documents_path(current_site, :link => true)}" if current_site && current_site.persisted? %>>

    <%= render :partial => 'status' %>

    <div id="container">
      <%= content_tag(:header, render('header')) %>
      <%#= content_tag(:aside, current_nav, :id => 'current-nav') %>
      <%= render :partial => 'nav' %>
      <%= content_tag(:main, yield, :id => 'content') %>
      <%#= content_tag(:aside, drilldown_nav, :id => 'drilldown-nav') %>
    </div>

    <%= javascript_include_tag 'builder/application' %>
  </body>
</html>
