<!DOCTYPE html>
<html class="public">
  <%= partial 'application/head',
              :locals => { :css_path => 'editor/application' } %>
  <body <%#= library_attr %>>

    <%= partial 'application/status' %>

    <div id="container">
      <%= content_tag(:header, render('header')) %>
      <%= render :partial => 'nav' %>
      <%= content_tag(:main, yield, :id => 'content') %>
    </div>

    <%= javascript_include_tag 'builder/application' %>
  </body>
</html>
