<!DOCTYPE html>
<html class="public">
  <%= partial 'head' %>
  <body <%#= library_attr %>>

    <%= partial 'status' %>

    <div id="container">
      <%= content_tag(:header, render('header')) %>
      <%= render :partial => 'nav' %>
      <%= content_tag(:main, yield, :id => 'content') %>
    </div>

    <%= javascript_include_tag 'builder/application' %>
  </body>
</html>
