<%= render 'head' %>
  <body class="my-sites">

    <%= render :partial => 'status' %>

    <div id="container">
      <%= content_tag(:header, render('header')) %>
      <%= content_tag(:div, yield, :id => 'content') %>
    </div>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
