<!-- <header class="page-header">
  <%#= simple_form_for current_page, :url => site_editor_pages_path do |f| %>
    <%#= f.input :title, :label => false, :placeholder => 'Title' %>
    <%#= f.submit "Next" %>
  <%# end %>
  <div class="labels">
    <span class="tk-label red template">
      <i class="icon-file"></i>
      <strong>Status:</strong>
      <span>Draft</span>
    </span>
    <span class="tk-label template">
      <i class="icon-file"></i>
      <strong>Template:</strong>
      <span><%#= current_template.title %></span>
    </span>
  </div>
</header> -->

<header>
  <h1>
    New Page
    <span class="tk-label template">
      <i class="icon-pages"></i>
      <strong>Template:</strong>
      <span><%= current_template.title %></span>
    </span>
  </h1>
</header>
<%= simple_form_for current_page, :url => site_editor_pages_path do |f| %>
  <%= f.input :title %>
  <%= f.input :template_name, :as => :hidden %>
  <%= f.submit "Next" %>
<% end %>
